* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  background-color: #343f4f;
}

.wrapper {
  max-width: 355px;
}

.wrapper i:first-child {
  display: none;
}

.wrapper .carousel {
  font-size: 0;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging .slide {
  pointer-events: none;
}

.carousel .slide {
  display: inline-block;
  width: 340px;
  height: 340px;
  margin-left: 15px;
}

.carousel .slide:first-child {
  margin-left: 0;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.white {
  background-color: white;
}
